sentence-transformers
uvicorn
ctransformers
langchain
langchain-community
langgraph
langserve[all]
langsmith
python-box
streamlit
langchain_groq
tavily-python
tiktoken
langchainhub
chromadb
jupyter
notebook
tqdm
matplotlib
seaborn
easydict
torchtuples
sklearn_pandas
